@font-face {
  font-family: 'Mona Sans';
  src:
    url('./assets/MonaSans.woff2') format('woff2 supports variations'),
    url('./assets/MonaSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fce9e9;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Mona Sans';
}
header {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 800px;
  margin-bottom: 2rem;
}
header img {
  display: inline-block;
  margin: 0 auto;
}
header .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Mona Sans';
  font-size: 7rem;
  font-weight: 800;
  line-height: 6rem;
  color: #5c4594;
}
header .city {
  display: flex;
  justify-content: center;
  font-family: 'Mona Sans';
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #5c4594;
}
header .tickets {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Mona Sans';
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: 0rem;
  color: #5c4594;
}
header .tickets a {
  display: inline-block;
  margin-top: 20px;
  padding: 20px 40px 25px;

  background-repeat: no-repeat;
  background-image: radial-gradient(circle at top left, transparent 17px, #e85454 17px), radial-gradient(circle at top right, transparent 17px, #e85454 17px), radial-gradient(circle at bottom left, transparent 17px, #e85454 17px), radial-gradient(circle at bottom right, transparent 17px, #e85454 17px);
  box-shadow: 0 38px 14px -35px rgba(0,0,0,0.3);
  background-size: 50% 50%;
  background-position: top left, top right, bottom left, bottom right;
}
header .tickets a:hover {
  margin-top: 19px;
  margin-bottom: 1px;
  box-shadow: 0 38px 14px -35px rgba(0,0,0,0.5);
}

@media screen and (max-width: 500px) {
  header .date {
    font-size: 2rem;
    line-height: 2rem;
  }
  header .city {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #5c4594;
  margin-bottom: 1rem;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #5c4594;
  margin-bottom: 1rem;
}
h4 {
  color: #5c4594;
}

a {
  color: #5c4594;
}

blockquote {
  margin-left: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-left: 4px solid #5c4594;
}

section {
  margin: 0 3rem;
  width: 90vw;
  max-width: 800px;
  font-size: 1.2rem;
}

.sponsor__list {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.index-sponsors .sponsor__list {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}
.sponsor__list li {
  align-self: center;
  margin-right: 5%;
}

@media screen and (max-width: 801px) {
  .index-sponsors .sponsor__list {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
}
.sponsor__logo {
  display: inline-block;
  margin: 2rem 0;
}

.sponsor__logo__gold img {
  width: 450px;
  max-width: 90%;
}

.sponsor__logo__silver img {
  width: 375px;
}

.sponsor__logo__bronze img {
  width: 300px;
}

.sponsor__logo__community img {
  width: 264px;
  max-width: 90%;
}

ul.social-links {
  padding: 0;
}
ul.social-links li {
  list-style: none;
}
ul.social-links li .link-icon {
  height: 1rem;
  margin-right: 0.6rem;
}

footer {
  margin: 3rem 0;
}
