@font-face {
  font-family: 'Mona Sans';
  src:
    url('./assets/MonaSans.woff2') format('woff2 supports variations'),
    url('./assets/MonaSans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
body {
  display: flex;
  flex-direction: column;
  background-color: #fce9e9;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Mona Sans';
}
header {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 800px;
  margin-bottom: 2rem;
}
header img {
  display: inline-block;
  margin: 0 auto;
}
header .date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Mona Sans';
  font-size: 7rem;
  font-weight: 800;
  line-height: 6rem;
  color: #5c4594;
}
header .city {
  display: flex;
  justify-content: center;
  font-family: 'Mona Sans';
  font-size: 5rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #5c4594;
}
@media screen and (max-width: 500px) {
  header .date {
    font-size: 2rem;
    line-height: 2rem;
  }
  header .city {
    font-size: 1.5rem;
  }
}

h1 {
  font-size: 4rem;
  font-weight: 800;
  color: #5c4594;
  margin-bottom: 1rem;
}

section {
  margin: 0 3rem;
  width: 90vw;
  max-width: 800px;
  font-size: 1.2rem;
}

section h2 {
  font-size: 2rem;
  font-weight: 800;
  color: #5c4594;
  margin-bottom: 1rem;
}

ul.social-links {
  padding: 0;
}
ul.social-links li {
  list-style: none;
}
ul.social-links li .link-icon {
  height: 1rem;
  margin-right: 0.6rem;
}

footer {
  margin: 3rem 0;
}
